<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.foundation">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">

            <!-- 自动初始化 -->
            <meta-data
                android:name="com.android.foundation.FoundationInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>
</manifest>
